.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}